@import "https://fonts.googleapis.com/css?family=Lato:100";
@import "https://fonts.googleapis.com/css?family=Varela+Round";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    width: 100%;
    height: 100%;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

/* Website gradient background */
.screen {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(221deg, #3d709c, #5078c2, #13153E, #7a5dca, #5dabca, #333D6D);
    background-size: 1200%, 1200%;
    position: fixed;
    -webkit-animation: change 30s ease infinite;
    -moz-animation: change 30s ease infinite;
    animation: change 30s ease infinite;
}

/* Animations for gradient background */
@-webkit-keyframes change {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}
@-moz-keyframes change {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}
@keyframes change {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
}

#circle-blue {
    height: 405px;
    width: 405px;
    background-color: #6ED5FF;
    top: 10%;
    left: 15%;
    opacity: 59%;
    mix-blend-mode: screen;
    animation: anim-circle-blue 40s ease-in-out infinite;
}

#circle-orange {
    height: 529px;
    width: 529px;
    background-color: #FFBE88;
    top: 60%;
    left: 60%;
    opacity: 79%;
    mix-blend-mode: hard-light;
    animation: anim-circle-orange 45s ease-in-out infinite;
}

.float-circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(50px);
}

@keyframes anim-circle-blue {
    0%{top: 10%}
    50%{top: 30%}
    100%{top: 10%}
}
@keyframes anim-circle-orange {
    0%{top: 60%}
    25%{top: 30%}
    50%{top: 50%}
    75%{top: 40%}
    100%{top: 60%}
}

/* Responsive circles */
@media screen and (max-width: 1000px) {
    #circle-blue {
        height: 30%;
        width: 30vh;
    }
    #circle-orange {
        height: 40%;
        width: 40vh;
    }
}

/* Frosted glass effect */
.glass-rect-base {
    position: absolute;
    left: 8%;
    right: 8%;
    top: 38%;
    bottom: 10%;
    border-radius: 60px;
}

.glass-rect {
    background-color: #fff;
    opacity: 40%;
    mix-blend-mode: soft-light;
    backdrop-filter: blur(80px);
}

.glass-rect-border {
    border: 1px solid #fff;
    opacity: 30%;
}

/* Header text formatting */
.header {
    margin-top: 6%;
}

.header-text {
    font-family: Varela Round;
    font-weight: 600;
    margin: 0;
    text-align: center;
    text-shadow: 0px 0px 5px #8fddff;
}

h1 {
    font-size: 7em;
}

h2 {
    font-size: 3em;
    padding-top: 8px;
}

/* Hide frosted glass for smaller height */
@media screen and (max-height: 690px) {
    .glass-rect-base {
        visibility: hidden;
    }
}
